<div class="temas-container">

  <h2>Selecciona un tema para comenzar</h2>

</div>
<div class="temas-container">
  <div class="temas-grid">
    <div class="tema-card" *ngFor="let tema of temas" (click)="mostrarSubtemas(tema)">
      <i class="fa-solid tema-icono" [ngClass]="tema.icono"></i>
      <h3>{{ tema.nombre }}</h3>
      <p>{{ tema.descripcion }}</p>
    </div>
  </div>

  

  <div *ngIf="temaSeleccionado" class="tema-detalle" id="subtemas">
    <div><h2>{{ temaSeleccionado.nombre }}</h2></div>
    <!-- Botón/tarjeta para examen general del tema -->
    <div class="subtema-card examen-general"
         role="button"
         tabindex="0"
         (click)="navegarAExamen(null)"
         (keydown.enter)="navegarAExamen(null)">
      <h4>Examen del tema completo</h4>
      <p>Inicia un examen con preguntas de todo el tema</p>
    </div>
    <div class="subtemas-grid">
        <div class="subtema-card"
             *ngFor="let sub of temaSeleccionado.subtemas"
             role="button"
             tabindex="0"
             (click)="navegarAExamen(sub)"
             (keydown.enter)="navegarAExamen(sub)">
          <h4>{{ sub.nombre }}</h4>
          <p>Descripción opcional del subtema</p>
        </div>
    </div>
  </div>
</div>
