.table-container {
    display: flex;
    justify-content: center;   /* centra horizontal */
    align-items: center;        /* centra vertical (si el contenedor tiene altura) */
    width: 100%;                /* que ocupe todo el ancho, así sí se centra */
    margin-top: 20px;
}

.col-pregunta {
    width: 70%;
    text-align: center;
    vertical-align: middle;
}

.col-accion {
    width: 30%;
    text-align: center;
    vertical-align: middle;
}

table {
    color: white;
    border: 2px solid #00f0ff;
    width: 80%;                 /* la tabla ahora sí estará centrada */
    margin: 0 auto;             /* doble seguridad de centrado */
}

td,th {
    border: 1px solid #00f0ff;
    padding: 10px;
}

button{
    margin: 1rem
}
