.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 2rem;
  background-color: #000;
  border-bottom: 1px solid #0ae98a33;
  box-shadow: 0 0 20px #0ae98a33;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #0ae98a;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.1;
}

.logo-icon {
  width: 40px;
  height: 40px;
  filter: drop-shadow(0 0 5px #0ae98a);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
  transition: max-height 0.3s ease-in-out;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  position: relative;
  transition: color 0.3s;
  cursor: pointer;
}

.nav-links a:hover,
.nav-links .active {
  color: #0ae98a;
}

.nav-links a.active2 {
  color: #00f0ff;
}

.nav-links .active2::after {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #00f0ff;
  box-shadow: 0 0 6px #00f0ff;
}

.nav-links .active::after {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #0ae98a;
  box-shadow: 0 0 6px #0ae98a;
}

/* Botón de menú hamburguesa */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.menu-toggle span {
  width: 25px;
  height: 3px;
  background-color: #0ae98a;
  border-radius: 2px;
}

/* 📱 Responsive */
@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 100%;
    right: 0;
    flex-direction: column;
    background-color: #000;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.6);
  }

  .nav-links.open {
    max-height: 100vh;
    
    padding: 1rem 0;
  }

  .nav-links li {
    text-align: center;
    padding: 0.5rem 0;
  }
}
