<nav class="navbar">
  <div class="logo">
    <img src="assets/Logo.png" alt="EGEL PRO Logo" class="logo-icon" />
    <span class="logo-text">EGEL<br>PRO</span>
  </div>

  <div class="menu-toggle" (click)="menuOpen = !menuOpen">
    <span></span><span></span><span></span>
  </div>

  <ul class="nav-links" [class.open]="menuOpen">
    <li><a routerLink="/Inicio" routerLinkActive="active">Inicio</a></li>
    <li><a routerLink="/Temas" routerLinkActive="active">Temas</a></li>
    <li><a routerLink="/Simulador" routerLinkActive="active">Simulador</a></li>
    <li><a routerLink="/Resultados" routerLinkActive="active">Resultados</a></li>
    <li><a routerLink="/landing-page" routerLinkActive="active">Cerrar Sesión</a></li>
  </ul>
</nav>
