<div class="login-page"> 
  <div class="btn-container">
    <h2>Login</h2>
    <div class="mb-4 button-Inicio">
      <button [routerLink]="['/landing-page']" class="btn btn-neon" >
        <i class="fa-solid fa-reply"></i>
        Inicio
      </button>
    </div>
  </div>

  <div class="login-container w-100 mx-auto">
    <form (ngSubmit)="loginEmail()">
      <div class="mb-4 forms-group">
        <label for="email"  class="form-label">
          <p>Correo</p>
          <input type="email" id="email" name="email" [(ngModel)]="email" class="form-input" placeholder="ejemplo@hotmail.com"/>
        </label>
      </div>

      <div class="mb-4 forms-group">

        <label for="" class="form-label">
          <p>Contraseña</p>
          <input type="password" name="password" id="password"[(ngModel)]="password" class="form-input" placeholder="***********"/>
        </label>
      </div>

      <div class="button-group forms-group">

        <button class="btn btn-neon" type="submit">Iniciar sesión</button>
        <button type="button" class="btn btn-google " (click)="loginGoogle()">
          <i class="fa-brands fa-google"></i>
          Iniciar sesión con Google
        </button>
        <button type="button" class="btn btn-secundario" [routerLink]="['/recoverpassword']">Recuperar contraseña</button>
        <button type="button" class="btn btn-secundario"  [routerLink]="['/SingUp']" >Registrarse</button>
      </div>


    </form>
  </div>
</div>