<p>recoverpassword works!</p>
<div class="login-container">
  <div class="titulo-container">
    <a [routerLink]="['/landing-page']" class="btn-volver">⬅ Inicio</a>
    <h2 class="gradient-title">Recuperar Contraseña</h2>
  </div>

  <div class="login-box">
    <h2>Restablecer contraseña</h2>
    <form (ngSubmit)="enviarCorreo()">
      <div class="form-group">
        <label for="email">Correo electrónico</label>
        <input type="email" id="email" [(ngModel)]="email" name="email" class="form-control" placeholder="ejemplo@correo.com" required>
      </div>
      <button type="submit" class="btn-login">Enviar correo</button>
      <button type="button" class="btn-register mt-2" [routerLink]="['/login']">Regresar</button>
    </form>
  </div>
</div>
