<nav class="d-flex justify-content-between align-items-center px-3 py-2 ">
  <div class="logo d-flex align-items-center gap-2">
    <img src="assets/Logo.png" alt="Logo cerebro neuronal" width="80" height="80">
    <h2 class="m-0">Egel Pro</h2>
  </div>
  <div class="secciones">
    <ul>
      <li><a href="#inicio">Inicio</a></li>
      <li><a href="#caracteristicas">Características</a></li>
      <li><a href="#testimonios">Testimonios</a></li>
    </ul>
  </div>
  <div class="nav-links d-flex gap-3">
    <a  [routerLink]="['/login']" class="btn btn-outline-secondary">Login</a>
    <a  [routerLink]="['/SingUp']" class="btn btn-neon">Sign Up</a>
  </div>
</nav>

<main>

  <!-- HERO SECTION -->
  <app-hero id="inicio" ></app-hero>

  <!-- CARACTERÍSTICAS -->
  <app-caracteristicas id="caracteristicas"></app-caracteristicas>

  <!-- why choose seccion -->
  <app-why-choose-seccion ></app-why-choose-seccion>

  <!-- TESTIMONIOS -->
  <app-testimonios id="testimonios"></app-testimonios>

  <!-- CREADORES -->

  <section id="creadores" class="py-5 text-center text-white bg-black" >
  <div class="container creadores-container">
    <h2 class="mb-5 ">Conoce al equipo detrás de EGEL PRO</h2>
    
    <div id="carouselCreadores" class="carousel slide " data-bs-ride="carousel">
      <div class="carousel-inner">

      

        <!-- primer integrante -->
        <div class="carousel-item active">
          <div class="card mx-auto creator-card my-5 p-4">
            <img src="assets/omar.jpg" class="card-img-top" alt="Foto de Creador 2">
            <div class="card-body">
              <h5 class="card-title text-neon">Omar Reyes</h5>
              <p class="card-text text-white">Diseñadora UX/UI, enfocada en crear experiencias intuitivas para estudiantes.</p>
            </div>
          </div>
        </div>

          <!-- segundo integrante -->
        <div class="carousel-item ">
          <div class="card mx-auto creator-card my-5 p-4">
            <img src="assets/aaron.jpg" class="card-img-top" alt="Foto de Creador 1">
            <div class="card-body">
              <h5 class="card-title text-neon">Aaron Lopez</h5>
              <p class="card-text text-white">Desarrollador Full Stack. Apasionado por el Diseño Web.</p>
            </div>
          </div>
        </div>

        <!-- Tercer integrante -->
        <div class="carousel-item">
          <div class="card mx-auto creator-card my-5 p-4">
            <img src="assets/alan.jpg" class="card-img-top" alt="Foto de Creador 3">
            <div class="card-body">
              <h5 class="card-title text-neon">Alan Guerrero</h5>
              <p class="card-text text-white">Especialista en contenido y base de datos de preguntas tipo EGEL.</p>
            </div>
          </div>
        </div>

      </div>

      <!-- Controles del carrusel -->
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselCreadores" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselCreadores" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
      </button>
    </div>
  </div>
</section>

  <!-- CTA FINAL -->
  <section class="text-center py-5 bg-black text-white creadores-container">
    <h2 class=" mb-3">¿Estás listo para tu examen?</h2>
    <a href="#registro" class="btn btn-neon btn-lg">Comienza ahora</a>
  </section>

</main>

