/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: radial-gradient(ellipse at center, #111 0%, #000 100%);
    box-sizing: border-box;
}