/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: radial-gradient(ellipse at center, #111 0%, #000 100%);
    box-sizing: border-box;
}

/* Fondo oscuro (como normalmente se ve) */
.driver-overlay {
  /* background-color: rgba(0, 0, 0, 0.7) !important; */
}

/* Resalte amarillo alrededor del elemento */
.driver-highlighted-element {
  box-shadow: 0 0 25px 8px rgba(180, 13, 21, 0.8) !important;
  border-radius: 10px !important;
  transition: box-shadow 0.3s ease;
}

/* Opcional: popover con estilo amarillo */
.driver-popover {
  background-color: #eaf60a !important;
  border: 2px solid #04763b !important;
  color: #000;
  border-radius: 10px;
}
